@charset "UTF-8";
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Chicle";
  src: url("/assets/fonts/Chicle-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "StackSans";
  src: url("/assets/fonts/StackSansText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "StackSans";
  src: url("/assets/fonts/StackSansText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
:root {
  --color-bg-primary: #fff4e4;
  --color-bg-secondary: #fffaf4;
  --color-secondary: #0e7490;
  --color-teal: #0f766e;
  --color-primary: #be185d;
  --color-text: #000000;
  --font-heading: "Chicle", serif;
  --font-body: "StackSans", sans-serif;
  --font-regular: 400;
  --font-bold: 700;
  font-size: 10px;
  --ratio: 1.6;
  --size-body: 2rem;
  --size-small: calc(var(--size-body) / var(--ratio));
  --size-heading: calc(var(--size-body) * var(--ratio));
  --size-title: calc(var(--size-heading) * var(--ratio));
  --size-display: calc(var(--size-title) * var(--ratio));
}
@media (max-width: 769px) {
  :root {
    --size-body: 1.8rem;
  }
}
@media (max-width: 384px) {
  :root {
    --size-body: 1rem;
  }
}

.display {
  font-family: var(--font-heading);
  font-size: var(--size-display);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

.title {
  font-family: var(--font-heading);
  font-size: var(--size-title);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

.heading {
  font-family: var(--font-body);
  font-size: var(--size-heading);
  font-weight: var(--font-bold);
  color: var(--color-text);
}

.heading--emphasis {
  font-family: var(--font-body);
  font-size: var(--size-heading);
  font-weight: var(--font-bold);
  color: var(--color-secondary);
}

.body {
  font-family: var(--font-body);
  font-size: var(--size-body);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

.body--emphasis {
  color: var(--color-secondary);
}

.small {
  font-family: var(--font-body);
  font-size: var(--size-small);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

.small--emphasis {
  font-family: var(--font-body);
  font-size: var(--size-small);
  font-weight: var(--font-bold);
  color: var(--color-secondary);
  text-transform: uppercase;
}

body {
  background: var(--color-bg-primary);
  font-family: var(--font-body);
  font-weight: var(--bold);
  font-size: var(--body-font-size);
}

main > section {
  padding-block: 10rem;
  background: var(--color-bg-primary);
}
main > section:nth-of-type(2n) {
  background: var(--color-bg-secondary);
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--size-display);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--size-title);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

h3 {
  font-family: var(--font-body);
  font-size: var(--size-heading);
  font-weight: var(--font-bold);
  color: var(--color-text);
}

p {
  font-family: var(--font-body);
  font-size: var(--size-body);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

img {
  width: 100%;
  height: auto;
}

.wave-line {
  display: block;
  width: 100%;
  fill: var(--color-bg-secondary);
}

.logo {
  min-width: 8rem;
  max-width: 10rem;
  height: auto;
}

.image {
  min-width: 10rem;
  max-width: 50rem;
  height: auto;
}

.icon--sm {
  max-width: 3rem;
  height: auto;
}

.icon--md {
  min-width: 5rem;
  width: 10rem;
  height: auto;
}

.icon--lg {
  max-width: 20rem;
  height: auto;
}

.icon {
  max-width: 5rem;
  height: auto;
}

.input {
  border: none;
  padding: 1rem 1.5rem;
  font-family: var(--font-body);
  font-size: var(--size-body);
  font-weight: var(--font-regular);
  color: var(--color-text);
}

.process-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  margin-bottom: 4rem;
  padding-left: 3px;
}
@media (max-width: 769px) {
  .process-list {
    display: flex;
    flex-direction: column;
  }
}

.process-item {
  background-image: linear-gradient(to right, #e7e5e4 1px, transparent 1px), linear-gradient(to bottom, #e7e5e4 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 0 0;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  padding-block: 5rem;
  text-align: center;
}
@media (max-width: 769px) {
  .process-item {
    border-bottom: 0;
    border-right: 0;
  }
}
.process-item--last-child {
  border-right: 0;
}
@media (max-width: 769px) {
  .process-item--last-child {
    border-bottom: 3px solid #000;
  }
}

.badge {
  font-family: var(--font-body);
  font-size: var(--size-small);
  font-weight: var(--font-regular);
  color: var(--color-bg-secondary);
  background-color: var(--color-secondary);
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  border-radius: 3rem;
}
.badge--outline {
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  font-family: var(--font-body);
  font-size: var(--size-small);
  font-weight: var(--font-regular);
  color: var(--color-secondary);
}

.link-drawing {
  text-decoration: none;
  display: block;
  padding: 2rem;
  align-self: center;
  color: var(--color-text);
  position: relative;
}
.link-drawing:hover svg {
  stroke-dashoffset: 0;
}
.link-drawing svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 2;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  transition: stroke-dashoffset 0.5s ease;
  pointer-events: none;
}

.button, .button--link, .button--outline, .button--primary {
  text-decoration: none;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  padding-block: 1rem;
  padding-inline: 2rem;
  white-space: nowrap;
  font-family: var(--font-body);
  font-size: var(--size-body);
  font-weight: var(--font-regular);
  color: var(--color-text);
}
.button--primary {
  background: var(--color-primary);
  color: var(--color-bg-secondary);
  box-shadow: -4px -2px 16px 0px var(--color-bg-secondary), 4px 2px 16px 0px var(--color-primary);
}
.button--outline {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.button--link {
  color: var(--color-secondary);
  display: inline;
  padding: 0;
  text-decoration: underline;
}
.button--link::after {
  content: "↗";
  margin-left: 0.25rem;
  display: inline-block;
}
@media (max-width: 384px) {
  .button--link {
    font-family: var(--font-body);
    font-size: var(--size-small);
    font-weight: var(--font-regular);
    color: var(--color-text);
    color: var(--color-secondary);
  }
}

.container {
  width: 80%;
  margin-inline: auto;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.nav ul a {
  text-decoration: none;
  align-self: center;
}
.nav--horizontal ul {
  gap: 1rem;
}
.nav--vertical ul {
  flex-direction: column;
}

.section-title {
  display: flex;
  gap: 1rem;
}
@media (max-width: 769px) {
  .section-title img {
    display: none;
  }
}
.section-title--vertical {
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  line-height: 2rem;
  margin-bottom: 10rem;
}

.article {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
}
.article--row {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 1rem;
}
@media (max-width: 769px) {
  .article--row {
    display: flex;
  }
}
.article__header {
  margin-bottom: 0.5rem;
}
.article__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.article__content {
  order: 1;
}
@media (max-width: 769px) {
  .article__content {
    margin-top: 3rem;
  }
}
.article__media {
  order: 2;
}
@media (max-width: 769px) {
  .article__media {
    order: 1;
  }
}
.article__list {
  padding-inline: 1rem;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-block: 5rem;
}
.stack > * {
  border-block: 1px dashed var(--color-text);
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 769px) {
  .grid-2-col {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

.blog {
  display: flex;
  align-items: start;
  padding: 2rem;
  gap: 2rem;
}
@media (max-width: 769px) {
  .blog {
    padding: 1rem;
  }
}
@media (max-width: 384px) {
  .blog {
    padding: 0rem;
    flex-direction: column;
  }
}
.blog__content {
  max-width: 80ch;
}
.blog .icon {
  margin-top: 1rem;
}
.blog .button--outline {
  margin-top: 1.2rem;
}

.showcase {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-text);
  padding-block: 5rem;
  gap: 10rem;
}
.showcase--reverse-direction {
  flex-direction: row-reverse;
}
@media (max-width: 769px) {
  .showcase {
    flex-direction: column;
    gap: 2rem;
  }
}
.showcase__category {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: var(--small);
}
.showcase .button--outline {
  margin-top: 2rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.6rem;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: 8rem;
  overflow-y: auto;
  font-family: var(--font-body);
  font-size: var(--size-body);
  font-weight: var(--font-regular);
  color: var(--color-text);
}
@media (max-width: 769px) {
  .header__navigation {
    gap: 4rem;
  }
}

@media (max-width: 769px) {
  .hero {
    padding-block: 8rem;
  }
}
.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-template-areas: "one two" "three .";
}
@media (max-width: 769px) {
  .hero .container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}
.hero__group {
  grid-area: one;
  border-bottom: 1px solid var(--color-text);
}
@media (max-width: 769px) {
  .hero__group {
    border: none;
  }
}
.hero__highlight {
  grid-area: two;
  text-align: left;
  list-style: none;
  padding: 0;
}
.hero__highlight li {
  width: 50ch;
  margin-block: 2rem;
  margin-left: auto;
}
@media (max-width: 769px) {
  .hero__highlight li {
    width: 100%;
  }
}
.hero .blog {
  grid-area: three;
}

.work .container {
  display: flex;
  flex-direction: column;
}
.work__showcases {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0;
  list-style: none;
}

.timeline .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.timeline__list {
  list-style: none;
  padding: 0;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column-reverse;
}
.timeline__item {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 0 1rem;
  align-items: center;
  align-self: stretch;
}
.timeline__connector {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.timeline__icon {
  width: 10rem;
  height: auto;
}
@media (max-width: 769px) {
  .timeline__icon {
    display: none;
  }
}
.timeline__dot {
  width: 0.75rem;
  position: absolute;
  top: 1rem;
  height: 0.75rem;
  border-radius: 50%;
  background: var(--color-secondary);
}
.timeline__line {
  width: 2px;
  flex: 1;
  background: var(--color-secondary);
  min-height: 2rem;
}
.timeline__content {
  padding-bottom: 5rem;
  max-width: 100ch;
}
.timeline__content .badge {
  margin-bottom: 0.5rem;
}

.why-hire-me__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.why-hire-me__article {
  display: flex;
}
@media (max-width: 769px) {
  .why-hire-me__article {
    flex-direction: column-reverse;
  }
}
.why-hire-me__content {
  max-width: 100ch;
}

.cta {
  position: relative;
}
.cta .container {
  display: flex;
}
.cta__article {
  gap: 1rem;
  max-width: 110ch;
}
.cta__description {
  margin-bottom: 2rem;
}
.cta .icon--lg {
  position: absolute;
  bottom: 0;
  right: 10%;
  max-width: 30rem;
}
@media (max-width: 992px) {
  .cta .icon--lg {
    display: none;
  }
}

.about .container {
  text-align: center;
}
.about .logo {
  max-width: 15rem;
  align-self: center;
}
.about__article {
  display: flex;
  text-align: left;
  justify-content: center;
  gap: 5rem;
}
@media (max-width: 769px) {
  .about__article {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}
.about__content {
  max-width: 100ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.random-facts__list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10rem;
  flex-wrap: wrap;
}

.quote .container {
  text-align: center;
}

.credits__list {
  list-style: none;
  padding: 0;
}
.credits__content {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-block: 2rem;
  border-bottom: 1px dashed #000;
}
@media (max-width: 384px) {
  .credits__content {
    display: block;
  }
}

.hire-me .container {
  text-align: center;
}
.hire-me__form {
  width: 50%;
  margin-inline: auto;
  margin-block: 3rem;
}
@media (max-width: 769px) {
  .hire-me__form {
    width: 100%;
  }
}
.hire-me__inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "one two" "three three" "three three";
  gap: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 769px) {
  .hire-me__inputs {
    display: flex;
    flex-direction: column;
  }
}
.hire-me .input-name {
  grid-area: one;
}
.hire-me .input-email {
  grid-area: two;
}
.hire-me .input-textarea {
  grid-area: three;
}
.hire-me .button--primary {
  width: 100%;
  margin-block: 2rem;
}
.hire-me__email {
  margin-top: 2rem;
}
.hire-me .cf-turnstile {
  overflow: hidden;
  text-align: start;
}

.thank-you__description {
  margin-bottom: 2rem;
}

.footer {
  background-color: var(--color-bg-pirmary);
  padding-block: 10rem;
}
.footer--secondary {
  background-color: var(--color-bg-secondary);
}
.footer__content {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}
@media (max-width: 769px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__profile {
  display: flex;
  align-items: center;
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.footer .nav {
  margin-top: 0.3rem;
}