@charset "UTF-8";

:root {
  --color-bg-primary: #fff5e8;

  --color-primary: #7e4c37;
  --color-text: #000000;
  --color-transparent: #00000000;

  --font-family: "Archivo", sans-serif;

  --font-regular: 400;
  --font-bold: 700;

  font-size: 10px;

  --ratio: 1.4;
  --size-body: 1.6rem;
  --size-small: calc(var(--size-body) / var(--ratio));
  --size-heading: calc(var(--size-body) * var(--ratio));
  --size-title: calc(var(--size-heading) * var(--ratio));
  --size-display: calc(var(--size-title) * var(--ratio));

  @media (min-width: 640px) {
    --size-body: 2rem;
  }
}

body {
  background: var(--color-bg-primary);
  font-family: var(--font-family);
  font-size: var(--size-body);
  margin: 0;
}
