@font-face {
  font-family: "Chicle";
  src: url("/assets/fonts/Chicle-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "StackSans";
  src: url("/assets/fonts/StackSansText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "StackSans";
  src: url("/assets/fonts/StackSansText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --color-bg-primary: #fff4e4;
  --color-bg-secondary: #fffaf4;
  --color-cyan: #0e7490;
  --color-teal: #0f766e;
  --color-pink: #be185d;
  --color-text: #000000;
  --font-heading: "Chicle", serif;
  --font-body: "StackSans", sans-serif;
  font-size: 10px;
}

body {
  background: var(--color-bg-primary);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 2rem;
}

/*----------- HEADER -------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 1.6rem 4rem;
}

.header__logo img {
  width: fit-content;
  height: 10rem;
  border-radius: 50%;
  display: block;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__link {
  text-decoration: none;
  padding: 2rem;
  color: var(--color-text);
  position: relative;
}

.draw-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  transition: stroke-dashoffset 0.5s ease;
  pointer-events: none;
}

.nav__link:hover .draw-circle {
  stroke-dashoffset: 0;
}

.hire-me-button {
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: auto;
}

.hire-me-button svg {
  width: 14rem;
  height: 10rem;
  transition: transform 0.3s ease;
}

.hire-me-button:hover svg {
  transform: rotate(10deg) scale(1.05);
}

/* --------- Hero ----------- */
.hero {
  display: flex;
  justify-content: center;
  padding-block: 15rem;
  background-color: var(--color-bg-primary);
  background-image:
    linear-gradient(to right, #ccc 1px, transparent 1px),
    linear-gradient(to bottom, #ccc 1px, transparent 1px);
  background-size: 2rem 2rem;
}

.hero__intro {
  text-align: left;
  margin: 0;
}

.hero__title {
  text-align: center;
  font-family: var(--font-heading);
  font-size: 10rem;
  margin: 0;
}

.hero__tagline {
  text-align: right;
  margin: 0;
}

.container {
  width: 80%;
  margin-inline: auto;
}

.section-title-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.section-title-group-why-hire-me {
  display: block;
  width: fit-content;
  line-height: 1rem;
  margin-bottom: 10rem;
}

.section-title {
  font-family: var(--font-heading);
  font-size: 6rem;
}

/* --------- My Work ----------- */
.my-work {
  background-color: var(--color-bg-secondary);
  padding-block: 10rem;
}

.my-work__accordion {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: center;
}

/* ── Each project (details) ── */
.project {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  height: 60rem;
  overflow: hidden;
}

/* ── Summary (vertical tab on left) ── */
.project__summary {
  writing-mode: sideways-lr;
  padding: 1.5rem 1rem;
  font-size: 3rem;
  flex-shrink: 0;
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  cursor: pointer;
}

.project__summary:focus {
  outline: none;
}

/* ── Content ── */
.project__content {
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
  height: 100%;
}

.project__image {
  height: 100%;
  width: 70rem;
  border-right: 1px solid #000;
}

.project__info {
  gap: 1rem;
  padding: 5rem;

  width: 60rem;
}

.project__name {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.project__description {
  width: 35ch;
}

.project__link {
  display: inline-block;
  font-size: 1.5rem;
  width: fit-content;
  border: 1px solid var(--color-pink);
  color: var(--color-pink);
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
}

/* ── Animation accordin── */
::details-content {
  transition:
    width 0.4s ease,
    content-visibility 0.4s ease allow-discrete;
  width: 0;
}

[open]::details-content {
  width: var(--open-size);
}

/* Prevent Click Open Tag */
.my-work__accordion:has(.project[open]) .project[open] .project__summary {
  pointer-events: none;
  cursor: default;
}

/* ---- Specialize In ------------ */

.specialize {
  padding-block: 10rem;
}

.specialize__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 3px;
}

.specialize__grid h3 {
  font-size: 4rem;
  background: var(--color-cyan);
  color: var(--color-bg-primary);
  padding-block: 1rem;
  border: 3px solid #000;
  text-align: center;
  margin-left: -3px;
}

.specialize__process__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin-block: 4rem;
  padding-left: 3px;
}

.specialize__process__grid li {
  border: 3px solid #000;
  padding: 6rem;
  margin-left: -3px;
  margin-top: -3px;
}

.specialize__process__grid span {
  font-size: 6rem;
}

.specialize__process__grid h4 {
  font-size: 4rem;
  color: var(--color-cyan);
}

.specialize__link {
  color: var(--color-pink);
  text-align: center;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

/* ------------- Timeline -------------- */

.timeline {
  background-color: var(--color-bg-secondary);
  padding-block: 10rem;
}

.timeline__list {
  list-style: none;
  padding: 0;
  margin-bottom: 5rem;
}

.timeline__item {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 0 1rem;
  align-items: start;
  align-self: stretch;
}

.timeline__icon {
  height: 10rem;
  width: 10rem;
  margin: auto;
}

.timeline__connector {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.timeline__dot {
  width: 0.75rem;
  position: absolute;
  top: 1rem;
  height: 0.75rem;
  border-radius: 50%;
  background: var(--color-cyan);
}

.timeline__line {
  width: 2px;
  flex: 1;
  background: var(--color-cyan);
  min-height: 2rem; /* ensures line always shows */
}

.timeline__content {
  padding-bottom: 3rem;
}

.timeline__period {
  color: var(--color-cyan);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-cyan);
  width: fit-content;
  padding: 0.25rem 0.5rem;
}

.timeline_period-present {
  background-color: var(--color-cyan);
  padding: 0.3rem 1rem;
  color: var(--color-bg-primary);
}

.timeline__role {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.timeline__description {
  width: 65ch;
}

.timeline__link {
  text-align: center;
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: var(--color-pink);
}

/* ---------------- Why Hire Me ----------------- */

.why-hire-me {
  padding-block: 10rem;
}

.why-hire-me__section-title-icon {
  margin: 0 auto;
}

.why-hire-me__list {
  counter-reset: why-counter;
  list-style: none;
  padding: 0;
}

.why-hire-me__item {
  counter-increment: why-counter;
  display: flex;
  margin-bottom: 10rem;
  align-items: center;
}

.why-hire-me__title::before {
  content: counter(why-counter) " .";
  color: #000000;
  font-family: var(--font-heading);
  margin-right: 1.5rem;
  font-size: 3rem;
}

.why-hire-me__title {
  font-size: 5rem;
  font-family: var(--font-heading);
  color: var(--color-cyan);
}

.why-hire-me__description {
  max-width: 55ch;
}

.why-hire-me__icon {
  height: 20rem;
  width: fit-content;
}

/* ---------- CTA ---------------- */

.cta {
  background: var(--color-bg-secondary);
  padding-top: 10rem;
  padding-bottom: 20rem;
  position: relative;
}

.cta__title {
  text-align: center;
}

.cta__description {
  max-width: 60ch;
  margin: 3rem auto;
  text-align: center;
}

.cta__button {
  margin: 0 auto;
  width: fit-content;
  display: block;
}

.cta__image {
  position: absolute;
  right: 10rem;
  bottom: 0;
  height: 30rem;
  width: fit-content;
}

/* ------------ Quote ------------------- */

.quote {
  padding-top: 10rem;
  padding-bottom: 5rem;
  text-align: center;
}

/* --------------- About ------------------  */

.about {
  padding-top: 8rem;
  padding-bottom: 12rem;
}

.about__name {
  text-align: center;
  font-family: var(--font-heading);
  font-size: 10rem;
  margin-bottom: 3rem;
}

.about__content {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.about__content img {
  height: 15rem;
  width: 15rem;
}

.about__info {
  width: 40ch;
}

.about__info p {
  margin-bottom: 3rem;
}

/* --------------- Random Fact ---------------- */

.random-facts {
  padding-block: 10rem;
  background-color: var(--color-bg-secondary);
}

.random-facts__list {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  text-align: center;
  gap: 10rem;
  font-size: 1.5rem;
  list-style: none;
}

.random-facts__list img {
  margin: auto;
  width: fit-content;
}

/* -------------- Full Timeline -------------- */

.timeline-details {
  background: var(--color-bg-primary);
}

.timeline-details__list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;

  gap: 3rem;
}

/* center vertical line */
.timeline-details__list::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 2px dashed var(--color-cyan);
}

.timeline-details__item {
  width: 45%;
}

/* odd — left side, dot on right edge */
.timeline-details__item:nth-child(odd) {
  align-self: flex-start;
}

/* even — right side, dot on left edge */
.timeline-details__item:nth-child(even) {
  align-self: flex-end;
}

.timeline-details__item p {
  font-size: 1.5rem;
  text-align: start;
}

/* ------------- Process -------------- */

.process {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 15rem;
  position: relative;
}

.process__icon-2 {
  position: absolute;
  top: 40%;
  left: 20%;
}

.process__icon-1 {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.process h1 {
  font-family: var(--font-heading);
  font-size: 10rem;
}

/* ------------- Approach -------------- */

.approach {
  display: flex;
  background-color: var(--color-bg-secondary);
}

.approach-title {
  flex: 4;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.approach-title h2 {
  font-size: 6rem;
  font-family: var(--font-heading);
}

.approach-grid {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-left: -3px;
  list-style: none;
  padding: 0rem;
  border: 3px solid #000;
}

.approach-grid li {
  padding-block: 5rem;
  margin-bottom: -3px;
  border-bottom: 3px solid #000;
  text-align: center;
  font-size: 2rem;
}

/* ------------- Tech Stack -------------- */

.tech-stack {
  padding-block: 10rem;
  background-color: var(--color-bg-secondary);
}

.tech-stack__logos {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
  margin-block: 3rem;
  padding: 0;
}

.tech-stack__logos img {
  width: 5rem;
  height: 5rem;
}

/* ------------- Credits -------------- */

.credits {
  text-align: center;
  padding-block: 10rem;
}

.credits h1 {
  font-family: var(--font-heading);
  font-size: 10rem;
}

.icon-collection {
  background: var(--color-bg-secondary);
}

.icon-collection li {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-block: 2rem;
  font-size: 2rem;
  border-bottom: 1px dashed #000;
}

.icon-collection img {
  height: 10rem;
  width: 10rem;
}

.icon-collection a {
  text-decoration: none;
  color: var(--color-cyan);
}

/* ------------- Footer -------------- */

.footer {
  padding-block: 10rem;
  font-size: 2rem;
  background-color: var(--color-bg-secondary);
}

.footer-primary-background {
  background-color: var(--color-bg-primary);
}

.footer__first__section {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.footer__profile {
  display: flex;
  gap: 1rem;
  align-items: start;
  justify-content: center;
}

.footer__profile img {
  height: 10rem;
  width: fit-content;
}

.footer__profile p {
  font-family: var(--font-heading);
  font-size: 3rem;
}

.footer__credits-link {
  text-decoration: none;
  color: var(--color-cyan);
}

.footer-nav {
  width: 40rem;
  display: flex;
  justify-content: space-between;
}

.footer-nav__list {
  padding: 0rem 1rem;
  text-decoration: none;
  list-style: none;
  color: #000;
}

.footer-nav__link {
  text-decoration: none;
  color: #000;
}

.footer-social__title {
  margin-bottom: 2rem;
}

.footer-social__list {
  padding: 0rem 1rem;
  text-decoration: none;
  list-style: none;
  color: #000;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-social__link {
  text-decoration: none;
  color: #000;
}

.footer-social__link img {
  height: 3rem;
  width: 3rem;
}

/* ----------- Mobile View --------------  */

@media (max-width: 768px) {
  body {
    font-size: 1.5rem;
  }

  .header {
    flex-direction: column;
    padding: 0.5rem 1rem;
  }

  .header .hire-me-button {
    display: none;
  }

  .section-title {
    font-size: 3rem;
  }

  .hero__title {
    font-size: 6rem;
  }

  .my-work__accordion {
    display: block;
    border: 0;
  }

  /* ── Each project (details) ── */
  .project {
    display: block;
    height: 100%;
  }

  /* ── Summary (vertical tab on left) ── */
  .project__summary {
    writing-mode: horizontal-tb;
    font-size: 2rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .project__summary:focus {
    outline: none;
  }

  /* ── Content ── */
  .project__content {
    display: block;
    border-bottom: 1px solid #000;
  }

  .project__image {
    border-bottom: 1px solid #000;
  }

  .specialize__grid h3 {
    font-size: 1.5rem;
  }

  .specialize__process__grid {
    display: flex;
    flex-direction: column;
  }

  .specialize__process__grid span {
    font-size: 4rem;
  }

  .specialize__process__grid h4 {
    font-size: 3rem;
  }

  .timeline__icon {
    height: 5rem;
    width: 5rem;
  }

  .timeline__role {
    font-size: 2rem;
  }

  .timeline__description {
    width: 100%;
  }

  .why-hire-me__item {
    flex-direction: column;
  }

  .why-hire-me__title::before {
    font-size: 2rem;
  }

  .why-hire-me__title {
    font-size: 2.5rem;
  }

  .cta__image {
    right: 2rem;
    height: 15rem;
  }

  .about__content {
    flex-direction: column;
    align-items: center;
  }

  .about__info {
    width: 30ch;
    text-align: center;
  }

  .random-facts__list {
    gap: 5rem;
    font-size: 1rem;
  }

  .random-facts__list img {
    height: 7rem;
  }

  .timeline-details__item p {
    font-size: 1.2rem;
  }

  .timeline-details__list {
    padding: 1rem;
  }

  .timeline-details__list::before {
    left: 0;
    /* border-left: 2px dashed var(--color-cyan); */
  }

  .timeline-details__item:nth-child(even) {
    align-self: flex-start;
  }

  .timeline-details__item {
    width: 100%;
  }

  .process__icon-1 {
    width: 10rem;
    height: 10rem;
  }

  .process__icon-2 {
    width: 7rem;
    height: 7rem;
    top: 2rem;
  }

  .approach {
    flex-direction: column;
  }

  .approach-title {
    /* flex-direction: column-reverse; */
    gap: 0;
    padding-block: 2rem;
    border: none;
  }

  .approach-title h2 {
    font-size: 3rem;
  }

  .approach-grid {
    list-style: disc;
  }

  .icon-collection li {
    gap: 1rem;
    font-size: 1.5rem;
  }

  .icon-collection img {
    height: 6rem;
    width: 6rem;
  }

  .footer__first__section {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .footer__profile {
    gap: 0rem;
  }

  .footer-social__title {
    margin-bottom: 1rem;
  }

  .footer-nav {
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 2rem;
  }
}
