@use "typography";
@use "breakpoints";

/* ---------- HEADER ---------- */

.header {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  padding-inline: 5rem;
  padding-block: 2rem;
  z-index: 5;

  @include breakpoints.phone {
    padding-inline: 1rem;
  }

  & .legend {
    display: flex;
    gap: 18px;

    & span {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }
}

.source-legend {
  background: var(--source-color-background);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
}

.goods-legend {
  background: var(--good-color-background);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
}

.components-legend {
  background: var(--component-color-background);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
}

.main {
  height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;

  @include breakpoints.phone {
    display: flex;
    flex-direction: column;
  }
}

.center {
  position: relative;
  background: var(--color-bg-primary);
  width: 100%;
  height: 100%;

  @include breakpoints.phone {
    height: 70%;
  }
}

.right {
  background-color: var(--color-bg-secondary);
  border-left: 1px solid var(--color-text);
  width: 100%;
  padding: 1rem;
  overflow-y: scroll;

  @include breakpoints.phone {
    height: 30%;
  }
}

.empty {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;

  @include breakpoints.phone {
    padding-top: 0;
    height: 100%;
    justify-content: center;
  }
}

#cy {
  width: 100%;
  height: 100%;
}

.card {
  flex-direction: column;
  display: none;
  gap: 3rem;

  &__header {
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    border-bottom: 1px dashed var(--color-text);

    & .icon {
      height: 7rem;
      width: auto;
      margin-bottom: 1.5rem;
      background: var(--color-bg-primary);
      border: 1px solid var(--source-color-background);
      padding-inline: 1rem;
      padding-block: 1.5rem;
      min-width: 7rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.card.show {
  display: flex;
  animation: rise 0.22s ease;
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
