@use "typography";

body {
  background: var(--color-bg-primary);
  font-family: var(--font-body);
  font-weight: var(--bold);
  font-size: var(--body-font-size);
}

main {
  > section {
    padding-block: 10rem;
    background: var(--color-bg-primary);

    &:nth-of-type(2n) {
      background: var(--color-bg-secondary);
    }
  }
}

h1 {
  @include typography.display;
}

h2 {
  @include typography.title;
}

h3 {
  @include typography.heading;
}

p {
  @include typography.body;
}

img {
  width: 100%;
  height: auto;
}
